*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.titulo{
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow-x: hidden;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-form{
  width: 430px;
}

.btn{
  margin: 10px 0 10px 0;
  display: flex;
  background-color: #278064c7;
  align-items: center;
  color: white;
  border-radius: 5px;
  outline: none;
  pointer-events: none;
  border: transparent;
  padding: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.viewer{
  width: 100%;
  background-color: #e4e4e4;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: none;
  outline-color: transparent;
}

.custom-error {
  background-color: #EBABAB;
  width: 100%;
  padding: 15px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  color: #626366;
  margin-bottom: 10px;
}