*{
  margin: 0.2rem 0 0 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

.titulo{
  font-size: 25px;
  margin-bottom: 2rem;
  color: #3c3c3dd8;
}

.wrapper{
  width: 100%;
  max-width: 1200px;
  background-color: #d1d1d12d;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #bebebe93;
  border-radius: 15px;
  margin: auto;
  overflow-x: hidden;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.custom-form{
  width: 430px;
}

input[type="file"] {
  display: none;
}

label{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
  border: 1px solid #2a9dd696;
  border-radius: 0.5rem;
  color: #8a8b8fde;
  background-color: #EAF3FA;
}

label span {
  display: flex;
  align-items: center;
}

label span:nth-child(2){
  color:white;
  background-color: #2A9CD6;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.texto-inicial{
  color: #3a38386b;

}

.btn{
  margin: 10px 0 10px 0;
  display: flex;
  background-color: #278064d5;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.897);
  border-radius: 5px;
  outline: none;
  border: transparent;
  padding: 12px;
  margin-top: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.viewer{
  width: 100%;
  background-color: #d6d4d47a;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  box-shadow: none;
  outline-color: transparent;
  overflow: auto;
  justify-content: center;
  border: 1px solid #dadbdb;
}

.viewer.center-content {
  justify-content: flex-start;
}

::-webkit-scrollbar-track{
  background-color: #f3f3f3;
  border-radius: 0px 5px 5px 0px;
}

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  border-radius: 0px 5px 5px 0px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{
  border-radius: 0px 5px 5px 0px;
  background-color: #c9c9c3;
}

.custom-error {
  background-color: #EBABAB;
  width: 100%;
  padding: 15px;
  align-items: center;
  display: flex;
  border-radius: 5px;
  color: #626366;
  margin-bottom: 10px;
}

.custom-icon {
  color: #ffffffee;
  width: 34px;
  padding-bottom: 4px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #00000081; 
  font-size: 24px; 
}

.hidden {
  display: none;
}